/*
** MAIN.CSS
*/

body {
    font-family:"Lucida Grande", arial, sans-serif;
	font-size:15px;

    height:auto;
	margin:0;
    text-align:center;
}

/*
** Container (for Three.js)
*/
#container {
    position:absolute;
    left:0;
    top:0;
    z-index:-1;
}

#construction {
    text-transform:uppercase;
}

#construction h1 {
    font-size:2.3em;
    letter-spacing:-2px;
    line-height:24px;
}

#construction a {
    text-decoration:none;
}

/*
** Header
*/
header img {
    width:100%;
    max-width:504px;
    height:auto;
}