/*
** MAIN.CSS
*/

body {
	font-family:"Lucida Grande", arial, sans-serif;
	font-size:15px;

    height:auto;
	margin:0;
}

/*
** Container (for Three.js)
*/
#container {
    position:absolute;
    left:0;
    top:0;
    z-index:-1;
}

/*
** Header
*/
header {
    background-color:teal;
}

header img {
    width:100%;
    max-width:504px;
    height:auto;
}

/*
** Menu
*/
nav {
    /*background-color:tomato;*/
    /*text-alight:center;*/
    /*width:100%;*/
    /*border-right:4px solid #000;*/
    /*padding-right:5px;*/
    float:left;
}

/* HIM */
nav ul {
    list-style:none;
    display:table;
    *display:block;
    width:100%;
    margin:0;
    padding:0;
}

nav ul li {
    display:table-cell;
    *display:inline;
    width:auto;
    min-width:50px;
    margin:1px 0;
    padding:2px auto;
    *padding:2px 40px;
    border:1px solid #999;
    text-align:center;
    white-space:nowrap;
}

/* ME */
nav ul {
    background-color:burlywood;
    display:table;
    width:100%;
    margin:0;
    padding:0;
    list-style:none;
    font-size:1.3em;
    letter-spacing:-2px;
    line-height:24px;
    text-transform:uppercase;
}

nav ul li {
    display:table-cell;
    width:auto;
    min-width:50px;
    margin:1px 0;
    padding:2px 0;
    border:1px solid #999;
    text-align:center;
    white-space:nowrap;
}

/*float:none;*/

nav ul li a {
    color:#000;
    text-decoration:none;
}

nav ul li a:hover {
    color:rgb(255,205,67);
}

/*
** Details (contents)
*/
#content {
    background-color:green;

    display:table-cell;

    width:10000px;
    height:200px;

    border:1px solid red;
}



@media all and (min-width:600px) {

    /*
    ** Header
    */
    header {
        /*background-color:teal;*/
        padding-left:25px;

    }

    /*
    ** Main
    */
    #main {
        /*margin:20px;*/
        /*background-color:orange;*/
    }

    /**/
    /*** Menu (Left menu)*/
    /**/
    /*nav {*/
        /*background-color:tomato;*/
        /*text-alight:center;*/
        /*width:100%;*/
        /*border-right:4px solid #000;*/
        /*padding-right:5px;*/
        /*float:left;*/
    /*}*/


    nav ul {
        display:block;

        width:100%;
        height:400px;

        margin:0;
        padding:0;

        font-size:1.3em;
        letter-spacing:-2px;
        line-height:24px;
        text-align:right;
        text-transform:uppercase;
    }

    nav ul li {
        display:block;
        background-color:greenyellow;
        list-style:none;
    }

    /*nav ul li a {*/
        /*color:#000;*/
        /*text-decoration:none;*/
    /*}*/

    /*nav ul li a:hover {*/
        /*color:rgb(255,205,67);*/
        /*text-decoration:none;*/
    /*}*/


    /*#rcontent {*/
        /*background-color:blue;*/
        /*display:table-cell;*/
        /*width:10000px;*/
        /*height:100%;*/
    /*}*/

    /*#lcontent {*/
        /*background-color:orange;*/
        /*float:left;*/
    /*}*/

    /*#me {*/
        /*float:right;*/
    /*}*/

    /*#rcontent h1 {*/
        /*font-size:50px;*/
        /*letter-spacing:-5px;*/
        /*margin-top:-10px;*/
        /*text-transform:uppercase;*/
    /*}*/

    footer {
        overflow:hidden;
        background-color:blueviolet;
    }
}

/* CONTACT */
.wrapper {
    max-width:500px;
    width:95%;
    margin:0 auto;
    position:relative;
}
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea,
#contact-form button[type="submit"] {
    font:400 12px/12px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#contact-form {
    text-shadow:0 1px 0 #FFF;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    background:#F9F9F9;
    padding:0px;
}
#contact-form h3 {
    color:#991D57;
    display:block;
    font-size:28px;
}
#contact-form h4 {
    margin:5px 0 15px;
    display:block;
    font-size:13px;
}
#contact-form label span {
    cursor:pointer;
    color:#991D57;
    display:block;
    margin:5px 0;
    font-weight:900;
}
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
    width:80%;
    box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    -webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    -moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    border:1px solid #CCC;
    background:#FFF;
    margin:0 0 5px;
    padding:10px;
    border-radius:5px;
}
#contact-form input[type="text"]:hover,
#contact-form input[type="email"]:hover,
#contact-form input[type="tel"]:hover,
#contact-form input[type="url"]:hover,
#contact-form textarea:hover {
    -webkit-transition:border-color 0.3s ease-in-out;
    -moz-transition:border-color 0.3s ease-in-out;
    transition:border-color 0.3s ease-in-out;
    border:1px solid #AAA;
}
#contact-form textarea {
    height:100px;
    max-width:100%;
}
#contact-form button[type="submit"] {
    cursor:pointer;
    width:100%;
    border:none;
    background:#991D57;
    background-image:linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
    background-image:-moz-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
    background-image:-webkit-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
    color:#FFF;
    margin:0 0 5px;
    padding:10px;
    border-radius:5px;
}
#contact-form button[type="submit"]:hover {
    background-image:linear-gradient(bottom, #9C215A 0%, #A82767 52%);
    background-image:-moz-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
    background-image:-webkit-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
    -webkit-transition:background 0.3s ease-in-out;
    -moz-transition:background 0.3s ease-in-out;
    transition:background-color 0.3s ease-in-out;
}
#contact-form button[type="submit"]:active {
    box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
#contact-form input:focus,
#contact-form textarea:focus {
    outline:0;
    border:1px solid #999;
}
::-webkit-input-placeholder {
    color:#888;
}
:-moz-placeholder {
    color:#888;
}
::-moz-placeholder {
    color:#888;
}
:-ms-input-placeholder {
    color:#888;
}