<div id="home">
    <h1 class="caps"><%= title %></h1>
    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="/mocks/slide1.jpg" />
            </li>
            <li>
                <img src="/mocks/slide2.jpg" />
            </li>
            <li>
                <img src="/mocks/slide3.jpg" />
            </li>
            <li>
                <img src="/mocks/slide4.jpg" />
            </li>
        </ul>
    </div>

</div>
