<div id="works">
    <h1>Mes travaux</h1>

    <div id="menu">
        <button id="table">TABLE</button>
        <button id="sphere">SPHERE</button>
        <button id="helix">HELIX</button>
        <button id="grid">GRID</button>
    </div>

    <div id="lcontent">
        <ul>
            <li>test1</li>
            <li>test2</li>
            <li>test3</li>
            <li>test4</li>
            <li>test5</li>
        </ul>
        <div id="rcontent">
            <p>PLOP</p>
        </div>
    </div>
</div>
