@import "compass/typography/lists/horizontal-list";
@import "compass/layout/sticky-footer";
@import "typo";

@import "flexslider-compass/flexslider";

// Body
body {
    font-family: "Lucida Grande", arial, sans-serif;
    font-size: 15px;

    height: auto;
    margin: 0;
}

// Container (for Three.js)
#container {
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
}

/* Debug */
img { background-color: rgba(0, 0, 255, 0.5); }

header {
  background-color: rgba(0, 255, 0, 0.5);;

  nav { background-color: rgba(255, 0, 0, 0.5);  }
}


div#content-container {
  background-color: rgba(0, 255, 255, 0.5);;
  border:1px solid red;
}

/* Works */
.element {
  width: 120px;
  height: 160px;
  box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
  border: 1px solid rgba(127,255,255,0.25);
  text-align: center;
  cursor: default;

  &:hover {
    box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
    border: 1px solid rgba(127,255,255,0.75);
  }

  .number {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 12px;
    color: rgba(127,255,255,0.75);
  }

  .symbol {
    position: absolute;
    top: 40px;
    left: 0px;
    right: 0px;
    font-size: 60px;
    font-weight: bold;
    color: rgba(255,255,255,0.75);

    -webkit-filter: drop-shadow(0px 0px 20px rgba(0,255,255,0.95));
    -moz-filter: drop-shadow(0px 0px 20px rgba(0,255,255,0.95));
    -o-filter: drop-shadow(0px 0px 20px rgba(0,255,255,0.95));
    -ms-filter: drop-shadow(0px 0px 20px rgba(0,255,255,0.95));
    filter: drop-shadow(0px 0px 20px rgba(0,255,255,0.95));
  }

  .details {
    position: absolute;
    bottom: 15px;
    left: 0px;
    right: 0px;
    font-size: 12px;
    color: rgba(127,255,255,0.75);
  }
}


/* Layout */
.kl-container {
  clear: both;
  position: relative;
  margin: auto;
  max-width: 960px;
}

/* Header */
header {
  position: relative;
  width: 100%;

  a#kl-header {
    img {
      display: block;
      width: 100%;
      max-width: 535px;
      height: auto;
    }
  }

  nav {
    position: absolute;
    right: 0; bottom: 0;

    ul {
      @include horizontal-list;

      li a {
        color: #000;

        &:hover {
          color: rgb(255,205,67);
        }
      }
    }
  }
}

#kl-langs {
  @include horizontal-list;
  position: absolute;
  top: 0;  right: 0;
}

/* Footer */
footer {
  border-top: solid 1px #000;
  background-color: lightgray;
}

@include sticky-footer(54px, "#kl-root", "#kl-root_footer", "#kl-footer");

#kl-social-links {
  @include horizontal-list;
}



/*
** Menu
*/


//nav {
//    float:left;
//}
//
//
//}


/*
** Details (contents)
*/
//#content-container {
//    display:table-cell;
//    width:10000px;  height:200px;
//}

/* CONTACT */
//.wrapper {
//    max-width:500px;
//    width:95%;
//    margin:0 auto;
//    position:relative;
//}
//#contact-form input[type="text"],
//#contact-form input[type="email"],
//#contact-form input[type="tel"],
//#contact-form input[type="url"],
//#contact-form textarea,
//#contact-form button[type="submit"] {
//    font:400 12px/12px "Helvetica Neue", Helvetica, Arial, sans-serif;
//}
//#contact-form {
//    text-shadow:0 1px 0 #FFF;
//    border-radius:4px;
//    -webkit-border-radius:4px;
//    -moz-border-radius:4px;
//    background:#F9F9F9;
//    padding:0px;
//}
//#contact-form h3 {
//    color:#991D57;
//    display:block;
//    font-size:28px;
//}
//#contact-form h4 {
//    margin:5px 0 15px;
//    display:block;
//    font-size:13px;
//}
//#contact-form label span {
//    cursor:pointer;
//    color:#991D57;
//    display:block;
//    margin:5px 0;
//    font-weight:900;
//}
//#contact-form input[type="text"],
//#contact-form input[type="email"],
//#contact-form input[type="tel"],
//#contact-form input[type="url"],
//#contact-form textarea {
//    width:80%;
//    box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
//    -webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
//    -moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
//    border:1px solid #CCC;
//    background:#FFF;
//    margin:0 0 5px;
//    padding:10px;
//    border-radius:5px;
//}
//#contact-form input[type="text"]:hover,
//#contact-form input[type="email"]:hover,
//#contact-form input[type="tel"]:hover,
//#contact-form input[type="url"]:hover,
//#contact-form textarea:hover {
//    -webkit-transition:border-color 0.3s ease-in-out;
//    -moz-transition:border-color 0.3s ease-in-out;
//    transition:border-color 0.3s ease-in-out;
//    border:1px solid #AAA;
//}
//#contact-form textarea {
//    height:100px;
//    max-width:100%;
//}
//#contact-form button[type="submit"] {
//    cursor:pointer;
//    width:100%;
//    border:none;
//    background:#991D57;
//    background-image:linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
//    background-image:-moz-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
//    background-image:-webkit-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
//    color:#FFF;
//    margin:0 0 5px;
//    padding:10px;
//    border-radius:5px;
//}
//#contact-form button[type="submit"]:hover {
//    background-image:linear-gradient(bottom, #9C215A 0%, #A82767 52%);
//    background-image:-moz-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
//    background-image:-webkit-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
//    -webkit-transition:background 0.3s ease-in-out;
//    -moz-transition:background 0.3s ease-in-out;
//    transition:background-color 0.3s ease-in-out;
//}
//#contact-form button[type="submit"]:active {
//    box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
//}
//#contact-form input:focus,
//#contact-form textarea:focus {
//    outline:0;
//    border:1px solid #999;
//}
//::-webkit-input-placeholder {
//    color:#888;
//}
//:-moz-placeholder {
//    color:#888;
//}
//::-moz-placeholder {
//    color:#888;
//}
//:-ms-input-placeholder {
//    color:#888;
//}
//
//.hero-unit {
//    margin: 50px auto 0 auto;
//    width: 300px;
//}